.dillers{
    position: relative;
    width: 100%;
    height: 80vw;
    overflow: hidden;
    max-height: 1500px;
}
.dillers__slider{
  display: flex;
  justify-content: center;
}
.dillers__background-content{
    position: absolute;
    height: 100%;
    width: 100000px;
}
.dillers__background-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $light-color;
    opacity: .75;
}
.dillers__background-content video{
    min-width: 100vw;
    min-height: 100%;
    margin: 0 auto;
}
.dillers-slider{
  width:50vw;
  max-width: 1000px;
  position:absolute;
  max-height: 50vw;

}
.dillers-slider__way{
  transition: all ease 1s;
}
.str2 {
  stroke: #C2D130;
  stroke-width: 141.11;
  stroke-miterlimit: 22.9256
}
svg.dillers-slider g g{
    opacity: .5;
    transition: all ease-out .3s;
    &.active{
        opacity: 1;
    }
    &:hover{
        opacity: 1;
    }
}
.fil3 {
  fill: none
}

.fil0 {
  fill: #00A0E3
}

.fil2 {
  fill: #0971B7
}

.fil4 {
  fill: #0B71B8
}

.fil5 {
  fill: #25A0DB
}

.fil1 {
  fill: #C2D130
}
.svg__logo-bg{
    fill: $accent-color;
    stroke-width: 0;
}
.str1 {
  stroke:#C2D130;
  stroke-width:105.83;
  stroke-miterlimit:22.9256
}
.dillers__slider-nav{
  position: absolute;
  width: 100%;
  bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 40px 220px 40px 220px 40px 1fr;  
  grid-template-rows: 40px;
}
.dillers__slider-paths
{
  display: flex;
  align-items: center;
  &>div{
    width: 100%;
    height: 3px;
    background-color: $inverse-color;
  }
}
.dillers__slider-circle
{
  display: flex;
  align-items: center;
  &>div{
    width: 100%;
    height: 100%;
    border: 3px solid $inverse-color;
    border-radius: 120%;
  }
}
.dillers__slider-circle.is-active div{
  border-color: $accent-color;
  transition: all ease .3s;
}

.dillers__slider-circle.active div{
  border-width: 0;
  transition: all ease .3s;
}
.dillers__slider-paths.is-active div{
  background-color: $accent-color;
  transition: all ease .3s;
}
.dillers__slider-titles{
  position: absolute;
  width: 100%;
  bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 260px 260px 260px 1fr;  
  grid-template-rows: 40px;
}
.dillers__slider-title{
  text-align: center;
  color: $inverse-color;
  font-family: "pFDinTextCompProReg";
  font-size: 30px;
  text-transform: uppercase;
  transition: all ease .3s;
  cursor: pointer;
}
.dillers__slider-title.is-active, 
.dillers__slider-title:hover{
  color: $accent-color;
}
.dillers__slider-man{
  position: absolute;
  bottom: 110px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  transition: all ease .3s;
  color: $accent-color;
}
.dillers__slider-man span{
  margin-left: -520px;
  transition: all ease .5s;
}
.dillers-slider__text{
  fill: $inverse-color;
  font-size: 750px;
  font-family: "pfDinTextCompProReg";
}