.dillers{
    position: relative;
    width: 100%;
    height: 56.25vw;
    max-height: 90vh;
    overflow: hidden;
}
.dillers__background-content{
    position: absolute;
    height: 100%;
    width: 100000px;
}
.dillers__background-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $light-color;
    opacity: .75;
}
.dillers__background-content video{
    width: 100vw;
    margin: 0 auto;
}
.dillers-slider{
  width:50%;
  position:absolute;
  left:25%;
  max-height: 65vh;

}
#dillers-slider{
}
#dillers-slider_first-way{
  transition: all ease 1s;
}
.str2 {
  stroke: #C2D130;
  stroke-width: 141.11;
  stroke-miterlimit: 22.9256
}
svg#dillers-slider g g{
    opacity: .5;
    transition: all ease-out .3s;
    &.active{
        opacity: 1;
    }
    &:hover{
        opacity: 1;
    }
}
.fil3 {
  fill: none
}

.fil0 {
  fill: #00A0E3
}

.fil2 {
  fill: #0971B7
}

.fil4 {
  fill: #0B71B8
}

.fil5 {
  fill: #25A0DB
}

.fil1 {
  fill: #C2D130
}
.svg__logo-bg{
    fill: $accent-color;
    stroke-width: 0;
}
.str1 {
  stroke:#C2D130;
  stroke-width:105.83;
  stroke-miterlimit:22.9256
}
