@font-face {
	font-family: 'pfDinTextCompProBold';
	src: url('../fonts/pfdintextcomppro-bold.ttf') format("opentype");
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'pfDinTextCompProReg';
	src: url('../fonts/pfdintextcomppro-regular.ttf') format("opentype");
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro-Light-Regular.otf') format("opentype");
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'DINProMedium';
	src: url('../fonts/DINPro-Medium-Regular.otf') format("opentype");
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'pfDinTextCompProThin';
	src: url('../fonts/15893.ttf') format("opentype");
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.otf') format("opentype");
	font-display: swap;
	font-style: normal;
}