$main-color: #0971B7;
$accent-color: #C2D130 !default;
$inverse-color: #fff !default;
$dark-color: #003E75 !default;
$light-color: #00A0E3 !default;
//Неопознанный цвет $: #00308F;
$light-grey-color: #EBEBEB !default;
$dark-grey-color:#BDBDBD !default;